<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Spring Boot Servlet App</display-name>
    <welcome-file-list>
        <welcome-file>loginServlet</welcome-file>
    </welcome-file-list>

    <!-- Define your servlet -->
<!--    <servlet>-->
<!--        <servlet-name>loginServlet</servlet-name>-->
<!--        <servlet-class>com.example.web_app_demo.LoginServlet</servlet-class>-->
<!--    </servlet>-->

    <!-- Map your servlet to a URL pattern -->
<!--    <servlet-mapping>-->
<!--        <servlet-name>loginServlet</servlet-name>-->
<!--        <url-pattern>/loginServlet</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>